body{
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.counter_button{
    background: none;
    width: 100%;
    border-width: 0;
    font-size: 3rem;
}

.controls {
    align-items: center;
    justify-content: center;
}